
.login {
    color: white;
    background:#1DA1F2;
    font-family:Arial, Helvetica, sans-serif;
   
    margin: auto;
    box-shadow: 
    0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 100px;
    height: 50%;
    width: 30%;
    margin-top: 5%;
   }
  
   .login .head {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .login .head .company {
    font-size: 2.2rem;
   }
  
   .login .form input {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    border-radius: 8%;
    height: 30px;
    width: 50%;
    color: rgb(9, 19, 2);
    font-weight: bold;
    font-size: 1em;
    outline: none;
    text-align: center;
    display: block;
    margin-left:25%;
   }
  
   .login .form .text::placeholder {
    color: #D3D3D3;
   }
  
   
 .controls__logout, .controls__refresh, .add__button, .login__button{
    background: #1a627c;
    text-decoration: none;
    color: rgb(231, 236, 236);
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
    margin-left: 10px;
   }
  
   .login__button:hover, .controls__logout:hover, .controls__refresh:hover, .add__button:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
   }
  






.container {
  position: relative;
  width: 450px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 20px #dce1e4;
}

.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 10px white;
  border: 2px;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1.2px;
}


.brand-logo img {
  height: 100px;
  width: 100px;
  opacity: 75%;
}


/* For Drop Down menu*/

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 0.5 em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  margin: auto;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


.question {
  margin-top: 50px;
}

.suggestion {
  color: black;
  font-style: italic;
}

.select__usertype {
  margin-top: 50px;
}

.job__form__Mode {
  margin-top: 20px;
  margin-bottom: 20px;
}